
#superior {
    background-color: black;
    position: absolute;
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    color: ghostwhite;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 10%;
    border-radius: 10px;
}

body {
    background-color: beige;
}

div {
    
}

#jaula1 {
    text-align: center;
    background-color: #070719;
    position: absolute;
    border-radius: 10px;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 50%;
}

img {
    width: 80%;
    height: 100%
    }

#menu {
    position: absolute;
    background-color: burlywood;
    top:70%;
    left: 10%;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    
}

#menu li {
    display: inline;
    text-align: center;
    
}
.menu {
    display: inline;
   text-align: center;
   margin: 0 10px 0 0;
    text-decoration: none;
}

#img {
    position: absolute;
    background: red;
    border-radius:  10px;
    top: 80%;
    left: 10%;
    width: 80%;
    height: 90%;
}

#iz {
    position: absolute;
    background-color: aqua;
    border-radius: 10px;
    height: 100%;
    width: 30%;
    
}

#cen {
    position: absolute;
    background-color: bisque;
    border-radius: 10px;
    left: 30%;
    height: 100%;
    width: 40%;
}

#der {
    position: absolute;
    background-color: cadetblue;
    border-radius: 10px;
    left: 70%;
    height: 100%;
    width: 30%;
}

#menu ul{
    /*text-align-last: center;*/
    border-top: 4px black solid;
    display:flex;
    flex-direction:row;
    list-style: none;
}

#menu ul li{
    border-right: 2px black solid;
    text-align: center;
    font-size:10pt;
    text-decoration:none;
    flex-grow: 1;
}

#menu ul li:hover{
    background-color: beige;
}

#menu ul li a{
    font-size:12pt;
    text-decoration:none;
}

#menu ul li .s{
    border: 2px black solid;
    background-color: beige;
    position: fixed;
    display: flex;
    flex-direction: column;
}
