nav{
    
    border-radius:10px;/*El estandar por defecto*/
    
    overflow:hidden;
}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    
}
nav ul li:hover{
    background-image: linear-gradient(top, #FFF, #E3E3E3);
    box-shadow:  1px -1px 0px #999;
    border:1px solid #E3E3E3;
}
nav ul li a{
    color:#999;
    padding:10px;
    text-decoration:none;
}


.fuera {
    background: #78a4e8;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    width: 30%;
    height: 30%
    
}


.dentro {
    background: red;
    position: relative;
    border-radius: 10px;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 75%;
    
}

#fuera0 {
    top: 10%;
}

#fuera1 {
    top: 10%;
    right: 33%;
}
#fuera2 {
    top: 10%;
    right: 0%;
}
#fuera3 {
    top: 45%;
    right: 0%;
    
    
}

#fuera4 {
    top: 45%;
    right: 33%;
    
}

#fuera5 {
    top: 45%;
}


#fuera6 {
    top: 80%;
}

#fuera7 {
    top: 80%;
    right: 33%;
    
}

#fuera8 {
     top: 80%;
    right: 0%;
}

#imagen {
    
}

body {
    background-color: beige;
}

img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
}

.precio {
    position: relative;
    background: #DAE7E9;
    
    border-radius: 10px;
    
    
}

